<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RSA_Keys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RSA_Keys.Properties.Settings>
            <setting name="KeysDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LicensesDirectory" serializeAs="String">
                <value />
            </setting>
        </RSA_Keys.Properties.Settings>
    </userSettings>
</configuration>